go 1.19

use (
	./proto
	./server/libs/common-utils
	./server/libs/config-utils
	./server/libs/dbutils
	./server/libs/grpcutils
	./server/libs/logging-config
	./server/libs/validateutils
	./server/services/mobile-api-gateway
	./server/services/user-service
	./server/services/grpc-clients
	./server/services/media-service
	./server/services/post-service
	./server/infrastructure/kafka
)
