go 1.19

use (
	./proto
	./server/libs/common-utils
	./server/libs/config-utils
	./server/libs/grpcutils
	./server/libs/logging-config
	./server/services/mobile-api-gateway
	./server/services/user-services/auth-service
	./server/services/user-services/user-service
)
